.topfold {
  display: flex;
  justify-content: space-between;
  margin: 6px 12px;
  padding: 12px 0px;
  align-items: center;
}
.home-topfold {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

/* Start of the search button styling */
.box{
  max-width: 400px;
  width: 100%;

}
.box .search-box{
  position: relative;
  height: 50px;
  max-width: 48px;
  
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check:checked ~ .search-box{
  max-width: 280px;
}
.search-box input{
 position: absolute;
 height: 90%;
 width: 90%;
 border-radius: 25px;
 background: #fff;
 outline: none;
 border: none;
 padding-left: 7px;
 font-size: 18px;
 box-shadow: 0px 3px 3px rgb(0, 0, 0);
}
.search-box .icon{
  position: absolute;
  right: -7px;
  top: 0;
  width: 55px;
  background: #FFF;
  height: 95%;
  text-align: center;
  line-height: 45px;
  color: #FF676D;
  font-size: 20px;
  border-radius: 25px;
  box-shadow: 0px 3px 0.5px rgb(0, 0, 0);
}
#check:checked ~ .search-box .icon{
  background: #FF676D;
  color: #FFF;
  width: 60px;
  border-radius: 0 25px 25px 0;
  
}
#check{
  display: none;
}



/* START OF THE BUTTON STYLING */
.topfold .add-button{
  display: inline-block;
  height: 45px;
  width: 45px;
  float: center;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}


.topfold .add-button:hover{
  width: 200px;
}


.topfold .add-button i{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 45px;
  transition: all 0.3s ease-out;
  color: #FF676D;

}

.add-button i{
  font-size: 25px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  margin-left: 2px;
  color:#FF676D;
  
}

.add-button span{
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  margin-left: 0px;
  margin-bottom: 19px;
  color: #FF676D;

}


/* -----END OF THE BUTTON STYLE */


/* -------START OF THE BACK BUTTON------------- */
.topfold .add-topfold-button{
  display: inline-block;
  height: 45px;
  width: 45px;
  float: center;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}


.topfold .add-topfold-button:hover{
  width: 130px;
}


.topfold .add-topfold-button i{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 45px;
  transition: all 0.3s ease-out;
  color: #FF676D;

}

.add-topfold-button i{
  font-size: 25px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-left: 0px;
  color:#FF676D;
  
}

.add-topfold-button span{
  font-size: 25px;
  font-weight: 500;
  line-height: 15px;
  margin-left: 0px;
  margin-bottom: 10px;
  color: #FF676D;
}


/* -------END OF THE BACK BUTTON STYLING--------- */
.add-topfold {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
/* -------START OF THE CANCEL BUTTON STYLING--------- */
.topfold .cancel-topfold-button{
  display: inline-block;
  height: 45px;
  width: 45px;
  float: right;
  margin: 0 5px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
  transition: all 0.3s ease-out;
}


.topfold .cancel-topfold-button:hover{
  width: 150px;
}


.topfold .cancel-topfold-button i{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 45px;
  transition: all 0.3s ease-out;
  color: #FF676D;

}

.cancel-topfold-button i{
  font-size: 23px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  margin-left: 0px;
  color:#FF676D;
  
}

.cancel-topfold-button span{
  font-size: 23px;
  font-weight: 500;
  line-height: 15px;
  margin-left: 0px;
  margin-bottom: 10px;
  color: #FF676D;
}


/* -------END OF THE CANCEL BUTTON STYLING--------- */

@media only screen and (max-width: 1024px) {
  .add-button {
    font-size: 18px;
  }
  .searchbar {
    width: 70%;
  }
}

@media only screen and (max-width: 512px) {
  .add-button {
    font-size: 16px;
  }
}

@media only screen and (max-width: 390px) {
  .search-box input{
    position: absolute;
    height: 80%;
    width: 82%;

  }

}