.expense-list {
  margin: 6px 12px;

  display: flex;
  flex-direction: column;
  flex: 1;
}
.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.empty-state label{
  background-color: #fff;
padding: 2px 12px;
border-radius: 15px 15px 15px 15px;
color: #FF676D;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
box-shadow: 0px 3px 3px rgb(0 0 0);
}
.empty-image {
  height: 360px;
}

.empty-state .footer label{
  width: 100%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 6px;
  background-color: #fff;
  padding: 2px 12px;
  border-radius: 15px 15px 15px 15px;
  color: #FF676D;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  box-shadow: 0px 3px 3px rgb(0 0 0);
}


@media only screen and (max-width: 1024px) {
  .empty-image {
    height: 320px;
  }
}

@media only screen and (max-width: 512px) {
  .empty-image {
    height: 240px;
  }
}
