.header-container{
  width: 50%;
  margin: auto;

}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 6px 12px;
}

.header-logo{
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 500;

}



.content i{
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-top: 10px; 
}

.header .content i{
  font-size: 25px;;
}




.content{
  position: relative;
  color: #fff;
}

.content h2{
  position: absolute;
  color: #111;
  transform: translate(-50%, -50%);
  font-size: 28px;
  margin-left: 10px;
}

.content h2:nth-child(1)
{
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  
  
}

.content h2:nth-child(2)
{
  color: #111;
  animation: animate 4s ease-in-out infinite;
}


@keyframes animate{
  0%, 100%
  {
      /* clip-path: polygon(0% 5%, 15% 44%, 32%  50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%); */
      /* clip-path: polygon(1% 99%, 0% 50%, 31% 33%, 67% 41%, 93% 61%, 100% 99%); */
      clip-path: polygon(0% 100%, 0% 0%, 37% 13%, 61% 28%, 81% 54%, 100% 100%);

  }
  50%{
   
    clip-path: polygon(0% 99%, 11% 71%, 27% 48%, 51% 31%, 100% 1%, 99% 100%);

      /* clip-path: polygon(0% 75%,16% 65%, 34%  66%, 51% 62%, 67% 50%, 84% 45%, 100% 25%, 100% 100%, 0% 100%); */

  }
  
}









/* The start of the other button to view more projects */

.project .proj-button{
  display: inline-block;
  height: 45px;
  width: 45px;
  float: left;
  margin: 0 5px;
  overflow: hidden;
 
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 3px 3px rgb(0, 0, 0);
  transition: all 0.3s ease-out;
  background-color: #fff;
}




.project .proj-button:hover{
  width: 230px;
}


.project .proj-button .icon{
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 0px;
  transition: all 0.3s ease-out;
  
}

.project .proj-button .icon i{
  font-size: 28px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  margin-left: 0px;
  color: #FF676D;
  
}

.project .proj-button span{
  font-size: 19px;
  font-weight: 500;
  line-height: 25px;
  margin-left: 0px;
  margin-bottom: 20px;
  color: #FF676D;
}


@media only screen and (max-width:1024px){
  .header-container{
      width: 90%;
  }
  .header-logo{
      font-size: 28px;
  }
  .content{
    margin-left: 25px;
  }
  .header-button{
      font-size: 18px;
  }

}



@media only screen and (max-width:512px){
  .header-container{
      width: 100%;
  }
  .header-logo{
      font-size: 24px;
  }
  .header-button{
      font-size: 18px;
  }

}


@media only screen and (max-width:450px){
  .header-container{
      width: 100%;
  }
  .header-logo{
      font-size: 24px;
  }
  .content{
    font-size: 15px;
    margin-left: 65px;
  }
  .header-button{
      font-size: 18px;
  }

}
